ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*gnb menu*/

#gnb-wrap {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	font-size: 15px;
	border-bottom: 1px solid #3852a4;
	background-color: #fff;
	z-index: 9;

	.gnb-wrpper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1500px;
		height: 100%;

		.gnb {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			margin: 0 auto;
			padding-right: 230px;

			.gnb-logo {
				display: flex;
				align-items: center;
				width: 150px;
				height: auto;
				padding: 20px 10px;
				z-index: 999;
			}

			.lnb-area {
				display: block !important;
				height: 100%;
				text-align: center;
			}

			.lnb {
				display: flex;
				align-items: flex-start;
				width: 100%;
				height: 100%;
			}


			.lnb>li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				color: #3852a4;
				font-weight: bold;
			}

			.lnb>li>a {
				width: auto;
				height: 100%;
				padding: 25px;
			}

			.gnb-background {
				display: none;
				margin: 10px 0;

				.lnb>li>ul>a>li {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 35px;
				}
			}

			#active {
				color: #fff;
				background-color: #3852a4;
			}

			.lnb>li>a:hover {
				color: #fff;
				background-color: #3852a4;
			}

			.lnb>li>ul>a:hover {
				color: #000;
				border-bottom: 1px solid #3852a4;
			}

			.gnb-line {
				position: absolute;
				top: 85px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #3852a4;
			}

			.mobile-lnb-area {
				display: none;
			}
		}
	}

	.mobile-menu {
		display: none;
	}
}

/*nav menu*/
#nav-wrap {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	width: 230px;
	height: 100%;
	background-color: #EDEDED;
	z-index: 99;

	.nav-wrpper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 20px;

		/*바로가기 버튼*/
		.nav-shortcuts {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
		}

		.nav-shortcuts>a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 25px;
			margin: 5px;
			color: #14364B;
			font-size: 12px;
			font-weight: bold;
			border: 1px solid #14364B;
		}

		#nav-active {
			color: #fff;
			background-color: #14364B;
		}

		.nav-shortcuts>a:active {
			color: #fff;
			background-color: #14364B;
		}

		/*인기상품*/
		.nav-product {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 170px;
			height: 200px;
			margin-top: 15px;
			border: 1px solid #14364B;

			.nav-product-title {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 25px;
				color: #fff;
				font-size: 12px;
				font-weight: bold;
				background-color: #14364B;
			}

			.nav-product-img {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 175px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}

		/*전화번호 바*/
		.nav-customer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 170px;
			height: 60px;
			margin-top: 20px;
			color: #fff;
			border-radius: 10px;
			background-color: #3852A4;

			.nav-customer-title {
				font-size: 14px;
			}

			.nav-customer-number {
				font-size: 20px;
				font-weight: bold;
			}
		}

		/*위 아래 버튼*/
		.nav-scroll {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 170px;
			height: auto;

			.nav-scroll-button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 70px;
				margin-top: 20px;
				color: #252525;
				border: 1px solid #14364B;
			}
		}
	}
}

/*MAIN*/
#wrap {
	width: 100%;
	height: auto;
	margin-top: 72px;
	padding-right: 230px;

	#wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;

		/*메인 배너*/
		/*메인배너 타이틀*/
		.main-banner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 700px;
			color: #fff;
			text-align: center;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			&-inner {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				max-width: 850px;

				.main-banner-subtitle{
					font-size: 30px;
					font-weight: bold;
				}

				.main-banner-title {
					font-size: 85px;
					font-weight: bold;
				}

				.main-banner-caption {
					font-size: 35px;
				}


				/*메인배너 버튼*/
				.main-banner-button {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 100px;
					border-radius: 5px;

					&-inner {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 300px;
						padding: 35px 0;
						font-size: 30px;
						background-color: rgba(70, 104, 179, 0.8);
					}

					&-inner:hover {
						color: #3852a4;
						background: #3852a4;
						background-color: rgba(242, 246, 245, 0.8);
					}
				}

				.main-banner-button-img {
					width: 45px;
					height: 45px;
					margin-right: 40px;
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}

		/*배너 밑에 공지사항, 뉴스 바로가기 버튼*/
		.main-plus {
			display: flex;
			align-items: center;
			width: 100%;

			&-inner {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 50%;
				height: 50px;

				.main-plus-caption {
					display: flex;
					align-items: center;
					margin-right: 30px;
				}

				.main-plus-caption>h4 {
					margin-right: 10px;
				}

				.main-plus-caption>span {
					font-size: 14px;
				}
			}

			/*공지사항*/
			.main-plus-notice {
				color: #fff;
				background-color: #111111;

				.main-plus-notice-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50px;
					height: 50px;
					background-color: #000;
				}
			}

			/*뉴스&이벤트*/
			.main-plus-news {
				background-color: #f5f4ef;

				.main-plus-news-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50px;
					height: 50px;
					background-color: #e7e7e4;
				}
			}
		}

		/*서브배너*/
		/*서브배너 title*/
		.main-sub-banner {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 260px;
			margin-bottom: 80px;
			padding: 0 10px;
			color: #fff;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			.main-sub-banner-title {
				margin-right: 50px;
				font-size: 55px;
				font-weight: bold;
			}

			/*서브배너 설명*/
			.main-sub-banner-caption {
				font-size: 15px;
				margin-right: 110px;
			}

			/*서브배너 버튼*/
			.main-sub-banner-btn {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0 10px;
				font-size: 14px;

				.main-sub-banner-btn-login {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 210px;
					margin-bottom: 10px;

					.main-sub-banner-btn-inner {
						border: 2px solid #fff;
					}

					.main-sub-banner-btn-login-inner {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100px;
						height: 30px;
					}
				}

				.main-sub-banner-btn-reward {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 210px;
					height: 30px;
					border: 2px solid #fff;

					.main-sub-banner-btn-inner {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 210px;
						height: 30px;
					}
				}
			}

			#sub-banner-active {
				color: #222;
				background-color: #fff;
			}

			.main-sub-banner-btn-login>a:hover {
				color: #222;
				background-color: #fff;
			}

			.main-sub-banner-btn-reward>a:hover {
				color: #222;
				background-color: #fff;
			}
		}

		/*상품 스와이퍼*/
		.main-best {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 440px;
			padding: 20px 0;
			border-top: 1px solid #3852a4;
			border-bottom: 1px solid #3852a4;

			&-title {
				position: absolute;
				top: -20px;
				padding: 0 100px;
				font-size: 28px;
				background-color: #fff;
			}

			/*swiper*/
			.swiper-container {
				max-width: 1200px;
				height: auto;
				padding-bottom: 30px;

				.swiper-wrapper {
					width: 100%;
					height: auto;
					padding: 0 10px;

					.swiper-slide {
						display: flex;
						justify-content: center;

						.swiper-article {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: auto;
							padding: 25px 20px 10px;
							background-color: #fafafa;

							.swiper-thumb {
								width: 260px;
								height: 230px;
								margin-bottom: 10px;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
							}

							.swiper-article>span {
								font-weight: bold;
							}
						}

					}
				}
			}

			.swiper-pagination {
				bottom: 25px;

				&-bullet {
					width: 8px !important;
					height: 8px !important;
					bottom: 95%;
					margin: 0 2px;
					border-radius: 50%;
					background: #3852a4 !important;
					opacity: 1 !important;
				}

				&-bullet-active {
					width: 30px !important;
					border-radius: 10px !important;
				}
			}
		}

		/*하단 배너*/
		.main-bottom-banner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 555px;
			color: #fff;
			padding: 0 10px;
			text-align: center;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			&-inner {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 75%;

				.main-bottom-banner-title {
					font-size: 60px;
					font-weight: bold;
				}

				.main-bottom-banner-caption {
					margin-top: 50px;
					font-size: 24px;
				}

				/*하단 배너 버튼*/
				.main-bottom-banner-button {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 50px;
					border-radius: 5px;

					&-inner {
						display: flex;
						justify-content: center;
						align-items: center;
						width: auto;
						margin: 0 15px;
						padding: 0 10px;
						color: #fff;
						font-size: 18px;
					}

					&-inner:link {
						border-bottom: 1px solid #fff;
					}
				}

				/*하단 swiper*/
				.s2 {
					width: 100%;
					height: 100px;
					margin-top: 70px;
					background-color: #fff;

					.swiper-wrapper {
						display: flex;
						align-items: center;
						width: 100%;
						height: 100%;

						.swiper-slide {
							width: 5%;
							height: auto;

							.main-bottom-swiper-article {
								width: 100%;
								height: 100%;

								.main-bottom-swiper-thumb {
									width: auto;
									height: 80px;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*footer menu*/
#footer-wrap {
	width: 100%;
	height: auto;
	padding-right: 230px;
	z-index: 999;

	.footer-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		font-size: 12px;

		/*이용약관*/
		.footer-rule {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 50px;
			padding: 0 10px;
			color: #fff;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			background-color: #14364b;
		}

		.footer-rule>a {
			margin: 0 7px;
		}

		/*주소, 전화번호, FAX*/
		.footer-adress {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100px;
			padding: 0 10px;
			color: #9b9d9f;
			background-color: #14364b;
		}

		.footer-adress>span {
			margin: 3px;
		}

		/*카피라이트*/
		.footer-copyright {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 40px;
			padding: 0 10px;
			color: #9a9c9e;
			background-color: #0e2d41;
		}
	}
}

@media all and (max-width: 1280px) {
	/*gnb-menu*/
	#gnb-wrap {
		.gnb-wrpper {
			.gnb {
				padding-right: 15px;
			}
		}
	}

	/*nav menu*/
	#nav-wrap {
		display: none;
	}

	/*MAIN*/
	#wrap {
		padding-right: 0;
		#wrapper {
			/*서브배너*/
			/*서브배너 title*/
			.main-sub-banner {
				justify-content: flex-start;

				.main-sub-banner-title {
					margin-right: 50px;
				}

				/*서브배너 설명*/
				.main-sub-banner-caption {
					margin-right: 0;
				}

				/*서브배너 버튼*/
				.main-sub-banner-btn {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 0 10px;
					font-size: 14px;

					.main-sub-banner-btn-login {
						display: none;
					}

					.main-sub-banner-btn-reward {
						display: none;
					}
				}

				#sub-banner-active {
					color: #222;
					background-color: #fff;
				}

				.main-sub-banner-btn-login>a:hover {
					color: #222;
					background-color: #fff;
				}

				.main-sub-banner-btn-reward>a:hover {
					color: #222;
					background-color: #fff;
				}
			}

			/*하단 배너*/
			.main-bottom-banner {
				&-inner {
					width: 100%;
				}
			}
		}
	}

	/*footer menu*/
	#footer-wrap {
		padding-right: 0;
	}
}

@media all and (max-width: 950px) {
	/*MAIN*/
	#wrap {
		margin-top: 69px;
		#wrapper {
			.main-banner {
				&-inner {
					/*메인배너 버튼*/
					.main-banner-button {
						&-inner {
							width: 230px;
							padding: 30px 0;
							font-size: 25px;
						}
					}

					.main-banner-button-img {
						width: 45px;
						height: 45px;
						margin-right: 30px;
					}
				}
			}
		}
	}
}

@media all and (max-width: 768px) {
	/*gnb menu*/
	#gnb-wrap {
		.gnb-wrpper {
			.gnb {
				.lnb-area {
					display: none !important;
				}

				.mobile-lnb-area {
					display: block;

					.mobile-icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 40px;
						height: auto;
						margin: 16px 0;
						padding: 5px 0;
						border: 1px solid #3852a4;
						border-radius: 5px;
						cursor: pointer;
						z-index: 9999;

						.fa-bars {
							color: #3852a4;
						}
					}
				}
			}
		}

		.mobile-menu {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			width: 85%;
			height: 1500%;
			border-right: 1px solid #bdbdbd;
			background-color: #fff;

			.mobile-lnb {
				margin-top: 60px;
				padding: 10px;
			}

			.mobile-lnb>li {
				padding: 10px 0;
				width: auto;
				color: #575757;
				font-size: 14px;
				font-weight: bold;
			}

			.mobile-lnb>li>ul {
				display: none;
				margin-top: 10px;
				color: #3852a4;
			}

			.mobile-lnb>li>ul>a>li {
				padding: 5px 10px;
			}
		}
	}

	/*MAIN*/
	#wrap {
		#wrapper {
			/*메인 배너*/
			/*메인배너 타이틀*/
			.main-banner {
				height: 300px;

				&-inner {
					.main-banner-subtitle{
						font-size: 20px;
					}

					.main-banner-title {
						font-size: 45px;
					}

					.main-banner-caption {
						font-size: 18px;
					}


					/*메인배너 버튼*/
					.main-banner-button {
						display: none;
					}
				}
			}

			/*배너 밑에 공지사항, 뉴스 바로가기 버튼*/
			.main-plus {
				flex-direction: column;
				font-size: 13px;

				&-inner {
					justify-content: space-between;
					width: 100%;
					padding-left: 15px;

					.main-plus-caption {
						display: flex;
						align-items: center;
						margin-right: 30px;
					}

					.main-plus-caption>h4 {
						margin-right: 10px;
					}

					.main-plus-caption>span {
						font-size: 14px;
					}
				}
			}

			/*서브배너*/
			/*서브배너 title*/
			.main-sub-banner {
				height: 220px;
				margin-bottom: 60px;
				padding: 0 15px;

				.main-sub-banner-title {
					display: none;
				}

				/*서브배너 설명*/
				.main-sub-banner-caption {
					font-size: 13px;
				}
			}

			/*상품 스와이퍼*/
			.main-best {
				&-title {
					top: -20px;
					padding: 0 20px;
					font-size: 23px;
				}

				/*swiper*/
				.swiper-container {
					max-width: 1200px;
					height: auto;
					padding-bottom: 30px;

					.swiper-wrapper {
						width: 100%;
						height: auto;
						padding: 0 10px;

						.swiper-slide {
							display: flex;
							justify-content: center;

							.swiper-article {
								display: flex;
								flex-direction: column;
								align-items: center;
								width: auto;
								padding: 25px 20px 10px;
								background-color: #fafafa;

								.swiper-thumb {
									width: 260px;
									height: 230px;
									margin-bottom: 10px;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
								}

								.swiper-article>span {
									font-weight: bold;
								}
							}

						}
					}
				}

				.swiper-pagination {
					bottom: 25px;

					&-bullet {
						width: 8px !important;
						height: 8px !important;
						bottom: 95%;
						margin: 0 2px;
						border-radius: 50%;
						background: #3852a4 !important;
						opacity: 1 !important;
					}

					&-bullet-active {
						width: 30px !important;
						border-radius: 10px !important;
					}
				}
			}

			/*하단 배너*/
			.main-bottom-banner {
				height: 400px;
				padding: 0 15px;

				&-inner {
					.main-bottom-banner-title {
						font-size: 35px;
					}

					.main-bottom-banner-caption {
						margin-top: 20px;
						font-size: 18px;
					}

					/*하단 배너 버튼*/
					.main-bottom-banner-button {
						flex-direction: column;
						margin-top: 20px;

						&-inner {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 110px;
							margin: 5px 15px;
							padding: 0 10px;
							font-size: 15px;
						}
					}

					/*하단 swiper*/
					.s2 {
						width: 100%;
						height: 80px;
						margin-top: 20px;
						background-color: #fff;

						.swiper-wrapper {
							display: flex;
							align-items: center;
							width: 100%;
							height: 100%;

							.swiper-slide {
								width: 5%;
								height: auto;

								.main-bottom-swiper-article {
									width: 100%;
									height: 100%;

									.main-bottom-swiper-thumb {
										width: auto;
										height: 80px;
										background-size: contain;
										background-position: center;
										background-repeat: no-repeat;
									}
								}
							}
						}
					}
				}
			}
		}
	}


	/*footer menu*/
	#footer-wrap {
		.footer-wrapper {
			text-align: center;
			/*이용약관*/
			.footer-rule {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: auto;
				padding: 10px;
			}

			.footer-rule>a {
				margin: 5px;
			}

			.footer-adress>span {
				margin: 3px;
			}
		}
	}
}
