<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../CSS/reset.min.css">
	<link rel="stylesheet" href="../CSS/farmeya.min.css">
	<link rel="stylesheet" href="../CSS/swiper.min.css">
	<script src="../vendor/all.js"></script>
	<script src="../vendor/swiper.min.js"></script>
	<script src="../vendor/jquery-3.4.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,400,500,600|Poppins:100,200,300,400,500,600,700,800&display=swap&subset=korean" rel="stylesheet">
	<title>코딩연습 페이지</title>
</head>
	<body>
		<section id="gnb-wrap">
			<div class="gnb-wrpper">
				<div class="gnb">
					<div class="gnb-logo">
						<a href="#"><img src="../images/farmeya/logo.jpg" alt="기업로고"></a>
					</div>

					<div class="lnb-area">
						<ul class="lnb">
							<li><a href="#" id="active">회사소개</a>
								<ul class="gnb-background">
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
								</ul>
							</li>
							<li><a href="#">제품정보</a>
								<ul class="gnb-background">
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
								</ul>
							</li>
							<li><a href="#">투자정보</a>
								<ul class="gnb-background">
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
								</ul>
							</li>
							<li><a href="#">기업홍보</a>
								<ul class="gnb-background">
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
									<a href="#"><li>TITLE</li></a>
								</ul>
							</li>
						</ul>
					</div>

					<div class="mobile-lnb-area">
						<div class="mobile-icon">
							<i class="fas fa-bars"></i>
						</div>
					</div>
				</div>
			<div>

			<div class="mobile-menu">
				<ul class="mobile-lnb">
					<li class="about"><a href="#">회사소개</a>
						<ul>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
						</ul>
					</li>
					<li class="busibness"><a href="#">제품정보</a>
						<ul>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
						</ul>
					</li>
					<li class="product"><a href="#">투자정보</a>
						<ul>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
						</ul>
					</li>
					<li class="shopping"><a href="#">기업홍보</a>
						<ul class="gnb-background">
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
							<a href="#"><li>TITLE</li></a>
						</ul>
					</li>
				</ul>
			</div>
		</section>

		<section id="nav-wrap">
			<div class="nav-wrpper">
				<div class="nav-shortcuts">
					<a href="#" id="nav-active">일반의약품</a>
					<a href="#">전문의약품</a>
					<a href="#">염모제/펌제</a>
					<a href="#">화장품</a>
					<a href="#">건강기능식품</a>
					<a href="#">의료기기</a>
				</div>

				<a href="#" class="nav-product">
					<span class="nav-product-title">인기상품</span>
					<div class="nav-product-img" style="background-image:url('../images/farmeya/1195_1.png');"></div>
				</a>

				<div class="nav-customer">
					<span class="nav-customer-title">대표전화</span>
					<span class="nav-customer-number">02-6911-3600</span>
				</div>

				<div class="nav-scroll">
					<a href="#" class="nav-scroll-button nav-scroll-top">
						<i class="fas fa-chevron-up fa-3x"></i>
					</a>
					<a href="#" class="nav-scroll-button nav-scroll-bottom">
						<i class="fas fa-chevron-down fa-3x"></i>
					</a>
				</div>
			</div>
		</section>

		<div id="wrap">
			<div id="wrapper">
				<div class="main-banner" style="background-image:url('../images/farmeya/main-bg01.png');">
					<div class="main-banner-inner">
						<span class="main-banner-subtitle">BIO PHARM</span>
						<h1 class="main-banner-title">DONGSUNG</h1>
						<span class="main-banner-caption">더블어 사는 세상<br>변치않은 당신의 지킴이가 되겠습니다.</span>

						<div class="main-banner-button">
							<a href="#" class="main-banner-button-inner" id="main-join-btn">
								<span class="main-banner-button-img">
									<img src="../images/farmeya/main-icon-w01.png" alt="회원가입 버튼" class="main-join-btn">
								</span>
								<span>회사소개</span>
							</a>

							<a href="#" class="main-banner-button-inner" id="main-shop-btn">
								<span class="main-banner-button-img">
									<img src="../images/farmeya/main-icon-w02.png" alt="쇼핑몰 버튼" class="main-shop-btn">
								</span>
								<span>제품정보</span>
							</a>

							<a href="#" class="main-banner-button-inner" id="main-reward-btn">
								<span class="main-banner-button-img">
									<img src="../images/farmeya/main-icon-w03.png" alt="리워드플랜 버튼" class="main-reward-btn">
								</span>
								<span>투자정보</span>
							</a>
						</div>
					</div>
				</div>

				<div class="main-plus">
					<div class="main-plus-inner main-plus-notice">
						<div class="main-plus-caption">
							<h4>공지사항</h4>
							<span>시스템 점검안내!</span>
						</div>
						<a href="#" class="main-plus-notice-icon">
							<i class="fas fa-plus"></i>
						</a>
					</div>

					<div class="main-plus-inner main-plus-news">
						<div class="main-plus-caption">
							<h4>동성제약 뉴스&이벤트</h4>
							<span></span>
						</div>
						<a href="#" class="main-plus-news-icon">
							<i class="fas fa-plus"></i>
						</a>
					</div>
				</div>

				<div class="main-sub-banner" style="background-image:url('../images/farmeya/main-bg02.png');">
					<div class="main-sub-banner-title">
						DONGSUNG<br>BIO PHARM
					</div>

					<div class="main-sub-banner-caption">
						<h4>어제보다 나은 오늘 오늘을 뛰어넘는 내일을 생각합니다.</h4><br>
						<span class="main-sub-banner-caption-inner">
							<p>HEALTH FTOM NATURE.<br>
								<br>
								동서제약은 대한민국 국민,<br>
								더 나아가 세계인의 건강과 행복을 위해 노력할 것을 약속합니다.
							</p>
						</span>
					</div>

					<div class="main-sub-banner-btn">
						<div class="main-sub-banner-btn-login">
							<a href="#" class="main-sub-banner-btn-inner main-sub-banner-btn-login-inner" id="sub-banner-active">회사소개</a>
							<a href="#" class="main-sub-banner-btn-inner main-sub-banner-btn-login-inner">공장소개</a>
						</div>
						<div class="main-sub-banner-btn-reward">
							<a href="#" class="main-sub-banner-btn-inner">투자정보</a>
						</div>
					</div>
				</div>

				<div class="main-best">
					<span class="main-best-title">BEST DONGSUNG</span>

					<div class="swiper-container s1">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">
								<a href="#" class="swiper-article">
									<div class="swiper-thumb" style="background-image:url('../images/farmeya/122_1.jpg');">
									</div>
									<span>이지드롭 유산균으로 유해균 억제</span>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="swiper-article">
									<div class="swiper-thumb" style="background-image:url('../images/farmeya/915_1.jpg');">
									</div>
									<span>리베마린 350 연질캡슐</span>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="swiper-article">
									<div class="swiper-thumb" style="background-image:url('../images/farmeya/162_1.jpg');">
									</div>
									<span>디펜콜에이캡슐</span>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="swiper-article">
									<div class="swiper-thumb" style="background-image:url('../images/farmeya/122_1.jpg');">
									</div>
									<span>TITLE</span>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="swiper-article">
									<div class="swiper-thumb" style="background-image:url('../images/farmeya/915_1.jpg');">
									</div>
									<span>TITLE</span>
								</a>
							</div>
						</div>
					</div>
					<!-- If we need pagination -->
					<div class="swiper-pagination"></div>
				</div>

				<div class="main-bottom-banner" style="background-image:url('../images/farmeya/main-bg03.png');">
					<div class="main-bottom-banner-inner">
						<h1 class="main-bottom-banner-title">사회공헌</h1>
						<span class="main-bottom-banner-caption">동성제약이 꿈꾸는 건강하고 아름다운 문화를 위해~</span>

						<div class="main-bottom-banner-button">
							<a href="#" class="main-bottom-banner-button-inner">
								<span>염색봉사단</span>
							</a>

							<a href="#" class="main-bottom-banner-button-inner">
								<span>송음의약학상</span>
							</a>

							<a href="#" class="main-bottom-banner-button-inner">
								<span>재능기부</span>
							</a>
						</div>

						<div class="swiper-container s2">
							<div class="swiper-wrapper">
								<!-- Slides -->
								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand01.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand02.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand03.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand04.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand05.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand07.png');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand08.png');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand09.png');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_songeum.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_tmall.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand01.jpg');"></div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="main-bottom-swiper-article">
										<div class="main-bottom-swiper-thumb" style="background-image:url('../images/farmeya/ad_brand02.jpg');"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<section id="footer-wrap">
			<div class="footer-wrapper">
				<div class="footer-rule">
					<a href="#">[ 소비자 상담 전화번호 ] 의약품</a>
					<a href="#">/ &nbsp;&nbsp;외품 080-001-0921</a>
					<a href="#">/ &nbsp;&nbsp;건강기능식품 080-856-3300</a>
					<a href="#">/ &nbsp;&nbsp;화장품 080-020-2500 , 염모제 080-547-3571</a>
				</div>

				<div class="footer-adress">
					<span>동성제약 주식회사서울특별시 도봉구 도봉로 683 (방학동 동성빌딩)</span>
					<span>대표 : 이양구 &nbsp;&nbsp;사업자번호 : 211-81-25288</span>
					<span>TEL : 02-6911-3600</span>
				</div>

				<div class="footer-copyright">
					<p>© 2020 DONGSUNG BIO PHARM Co.Ltd ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</section>
	</body>

	<script  type='text/javascript'>
		$(document).ready(function () {
		//initialize swiper when document ready
			var mySwiper = new Swiper ('.s1', {
			// Optional parameters
				slidesPerView : 3, // 동시에 보여줄 슬라이드 갯수
				spaceBetween : 0, // 슬라이드간 간격
				slidesPerGroup : 3,
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					type: 'bullets',
				},
				breakpoints: {
					768: {
					  slidesPerView: 2,
					  spaceBetween: 20,
					  slidesPerGroup : 2,
					},
					500: {
					  slidesPerView: 1,
					  spaceBetween: 20,
					  slidesPerGroup : 1,
					}
				}
			});
		});

		$(document).ready(function () {
		//initialize swiper when document ready
			var mySwiper = new Swiper ('.s2', {
			// Optional parameters
				slidesPerView : 10, // 동시에 보여줄 슬라이드 갯수
				spaceBetween : 10, // 슬라이드간 간격
				slidesPerGroup : 3,
				loop: true,
				breakpoints: {
					1280: {
					  slidesPerView: 7,
					  spaceBetween: 10,
					  slidesPerGroup : 7,
					},
					500: {
					  slidesPerView: 5,
					  spaceBetween: 10,
					  slidesPerGroup : 5,
					}
				}
			});
		});

		$(document).ready( function() {
			$('.lnb').mouseenter(function() {
				$('ul', this).show();
			});

			$('.lnb').mouseleave(function() {
				$('ul', this).hide();
			});

			$('.lnb>li').hover(function() {
				$( ".gnb-background", this ).css( "background-color", "#3852a4;" );
				}, function(){
				$( ".gnb-background", this ).css( "background-color", "#fff" );
			});

			$('.lnb>li').hover(function() {
				$( "li", this ).css( "color", "#3852a4;" );
				}, function(){
				$( "li", this ).css( "color", "#000;" );
			});

			$( '.mobile-icon' ).click( function() {
				$( '.mobile-menu' ).toggle();
			});

			$( '.about' ).click( function() {
				$( '.about > ul' ).slideToggle();
			});

			$( '.busibness' ).click( function() {
				$( '.busibness > ul' ).slideToggle();
			});

			$( '.product' ).click( function() {
				$( '.product > ul' ).slideToggle();
			});

			$( '.shopping' ).click( function() {
				$( '.shopping > ul' ).slideToggle();
			});

			$( '.notice' ).click( function() {
				$( '.notice > ul' ).slideToggle();
			});
		});

		/*메인배너*/
		/*회원가입버튼*/
		$(function(){
			$("#main-join-btn").on({
				mouseenter: function(){
					$('.main-join-btn').attr('src','../images/farmeya/main-icon-b01.png');
				},
				mouseleave: function(){
					$('.main-join-btn').attr('src','../images/farmeya/main-icon-w01.png');
				}
			});
			/*쇼핑몰 버튼*/
			$("#main-shop-btn").on({
				mouseenter: function(){
					$('.main-shop-btn').attr('src','../images/farmeya/main-icon-b02.png');
				},
				mouseleave: function(){
					$('.main-shop-btn').attr('src','../images/farmeya/main-icon-w02.png');
				}
			});
			/*리워드플랜 버튼*/
			$("#main-reward-btn").on({
				mouseenter: function(){
					$('.main-reward-btn').attr('src','../images/farmeya/main-icon-b03.png');
				},
				mouseleave: function(){
					$('.main-reward-btn').attr('src','../images/farmeya/main-icon-w03.png');
				}
			});
		});
	</script>
</html>
