<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/reset.min.css">
    <title>hanain03 capture</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,400,500,600|Poppins:100,200,300,400,500,600,700,800&display=swap&subset=korean" rel="stylesheet">
</head>
<body>
    <div class="article">
        <img src="../images/capture-img/hanain03/1.png" alt="img01">
        <img src="../images/capture-img/hanain03/2.png" alt="img02">
        <img src="../images/capture-img/hanain03/3.png" alt="img03">
    </div>
</body>
<style type="text/css">
    img {
        display: block;
        margin: 0 auto;
    }
</style>
</html>