<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/reset.min.css">
    <title>sinchon capture</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,400,500,600|Poppins:100,200,300,400,500,600,700,800&display=swap&subset=korean" rel="stylesheet">
</head>
<body>
    <div class="article">
        <img src="../images/capture-img/sinchon/1.png" alt="img01">
        <img src="../images/capture-img/sinchon/2.png" alt="img02">
        <img src="../images/capture-img/sinchon/3.png" alt="img03">
        <img src="../images/capture-img/sinchon/5.png" alt="img05">
        <img src="../images/capture-img/sinchon/6.png" alt="img06">
        <img src="../images/capture-img/sinchon/7.png" alt="img07">
        <img src="../images/capture-img/sinchon/8.png" alt="img08">
        <img src="../images/capture-img/sinchon/9.png" alt="img09">
        <img src="../images/capture-img/sinchon/10.png" alt="img10">
        <img src="../images/capture-img/sinchon/11.png" alt="img11">
        <img src="../images/capture-img/sinchon/12.png" alt="img12">
        <img src="../images/capture-img/sinchon/13.png" alt="img13">
        <img src="../images/capture-img/sinchon/14.png" alt="img14">
        <img src="../images/capture-img/sinchon/15.png" alt="img15">
    </div>
</body>
<style type="text/css">
    img {
        display: block;
        margin: 0 auto;
    }
</style>
</html>